.navigation {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  display: inline;
  margin-right: 10px;
}

svg {
  font-size: 36px;
}
