.navigation {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  display: inline;
  margin-right: 10px;
}

.icon {
  font-size: 1.5rem;
}

button {
  background-color: #f8f9fa;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* width: 100%; */
  padding: 6px 20px;
}

button p {
  margin-left: 10px;
  font-size: 12px;
}

.cart {
  position: relative;
}

.cart .cart-count {
  position: absolute;
  top: -4px;
  right: -4px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px;
  font-size: 10px;
  width: 8px;
  height: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart svg {
  font-size: 1.5rem;
  margin-right: 8px;
  cursor: pointer;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
