@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap");
body {
  background-color: #f8f8f8;
}

h2 {
  text-align: center;
  font-size: 2.5em;
  color: #c7b7cd;
  font-family: "Abril Fatface", cursive;
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  background-color: #f8f8f8;
}

.product-item {
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  width: calc(25% - 30px);
  box-sizing: border-box;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-item h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0;
}

.product-item h4 {
  font-size: 1rem;
  font-weight: 200;
  margin-bottom: 5px;
  margin-top: 0;
}

.product-item p {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.product-item .price {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.product-item button {
  background-color: #c7b7cd;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.product-item svg {
  font-size: 1.8em;
}

.product-item button:hover {
  background-color: #c7b7cdcc;
}

@media (max-width: 1085px) {
  .product-item {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .product-item {
    width: 100%;
  }
}
